<h1>CREATE</h1>
<a asp-action="Index" asp-controller="Hospitales">RETURN </a>
<form method="post">
    <label>Id Hospital</label>
    <input type="text" name="idhospital" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Direccion</label>
    <input type="text" name="direccion" class="form-control" />
    <label>Telefono</label>
    <input type="text" name="Telefono" class="form-control" />
    <label>Camas</label>
    <input type="text" name="camas" class="form-control" />
    <button class="btn btn-dark">
        CREATE
    </button>
</form>
