<h1>CREATE</h1>
<a asp-action="Index" asp-controller="Departamento">RETURN </a>
<form method="post">
    <label>Id Dept</label>
    <input type="text" name="iddept" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Localidad</label>
    <input type="text" name="localidad" class="form-control" />
    
    <button class="btn btn-dark">
        CREATE
    </button>
</form>
