@model Departamento
<h1>DETALLES</h1>
<ul class="list-group">
    <li class="list-group-item">
        @Model.Dept_no
    </li >
    <li class="list-group-item">
        @Model.Nombre
    </li>
    <li class="list-group-item">
        @Model.Localidad
    </li>
</ul>
